---
- name: Install caddy
  command:
    argv:
      - /usr/bin/arch-chroot
      - /mnt
      - /bin/bash
      - -c
      - |
        pacman -Sy --noconfirm caddy
        firewall-offline-cmd --zone=public --add-port=80/tcp
        firewall-offline-cmd --zone=public --add-port=443/tcp
        firewall-offline-cmd --zone=internal --add-port=80/tcp
        firewall-offline-cmd --zone=internal --add-port=443/tcp

- name: set caddyfile
  copy:
    owner: root
    group: root
    force: yes
    dest: /mnt/etc/caddy/Caddyfile
    content: |
      # Replace domain with the fqdn during cloud-init
      <domain> {
        @insecureadmin {
          not remote_ip 192.168.0.0/16 172.16.0.0/12 10.0.0.0/8
          path /admin*
        }
        respond @insecureadmin "Access Denied" 403

        reverse_proxy /admin/* localhost:9090 {
          transport http {
              tls_insecure_skip_verify
          }
        }
      }

- name: Create /usr/lib/systemd/system/caddy.service.d directory
  ansible.builtin.file:
    path: /mnt/usr/lib/systemd/system/caddy.service.d
    state: directory

- name: set caddy systemd proxy settings
  copy:
    owner: root
    group: root
    force: yes
    dest: /mnt/usr/lib/systemd/system/caddy.service.d/http_proxy.conf
    content: |
      [Service]
      EnvironmentFile=/etc/systemd/system/proxy.env

- name: harden caddy systemd service (common)
  copy:
    owner: root
    group: root
    force: yes
    src: "{{ playbook_dir }}/files/systemd-hardening-common.conf"
    dest: /mnt/usr/lib/systemd/system/caddy.service.d/00-hardening-common.conf

- name: harden caddy systemd service (service-specific)
  copy:
    owner: root
    group: root
    force: yes
    dest: /mnt/usr/lib/systemd/system/caddy.service.d/10-hardening-local.conf
    content: |
      [Service]
      CapabilityBoundingSet=CAP_NET_BIND_SERVICE
      AmbientCapabilities=CAP_NET_BIND_SERVICE
      ReadWritePaths=/var/lib/caddy /var/log/caddy
