---
- name: Install cockpit and open firewalld port
  ignore_errors: true
  command:
    argv:
      - /usr/bin/arch-chroot
      - /mnt
      - /bin/bash
      - -c
      - |
        pacman -Sy --noconfirm cockpit cockpit-podman pcp cockpit-storaged udisks2 sscg nfs-utils # cockpit-packagekit cockpit-machines
        firewall-offline-cmd --zone=public --add-service=cockpit
        systemctl enable cockpit.socket
        systemctl enable pmlogger.service

- name: set cockpit pam to use oath
  copy:
    owner: root
    group: root
    force: yes
    dest: /mnt/etc/cockpit/cockpit.conf
    content: |
      [WebService]
      MaxStartups = 2
      UrlRoot = /admin/

      [Session]
      IdleTimeout=60

- name: Create cockpit systemd drop-in directory
  ansible.builtin.file:
    path: /mnt/usr/lib/systemd/system/cockpit.service.d
    state: directory

- name: harden cockpit systemd service (common)
  copy:
    owner: root
    group: root
    force: yes
    src: "{{ playbook_dir }}/files/systemd-hardening-common.conf"
    dest: /mnt/usr/lib/systemd/system/cockpit.service.d/00-hardening-common.conf

- name: set cockpit pam to use oath
  copy:
    owner: root
    group: root
    force: yes
    dest: /mnt/etc/pam.d/cockpit
    content: |
      #%PAM-1.0
      auth      include   system-remote-login
      account   include   system-remote-login
      password  include   system-remote-login
      session   include   system-remote-login
      auth	  required pam_oath.so usersfile=/etc/users.oath window=30 digits=6
