---
- name: Install mailx
  command:
    argv:
      - /usr/bin/arch-chroot
      - /mnt
      - /bin/bash
      - -c
      - |
        pacman -Sy --noconfirm mailx

- name: set mail.rc
  copy:
    owner: root
    group: root
    force: yes
    dest: /etc/mail.rc
    content: |
      set mta=smtp://{{ smtp_user }}:{{ smtp_pass }}@{{ smtp_server_incl_port }}
      set from="{{ smtp_sender }}"
      set smtp-auth=login
      set smtp-use-starttls
      set v15-compat ssl-method=auto

- name: set systemd service for email notification
  copy:
    owner: root
    group: root
    force: yes
    dest: /etc/systemd/system/notify-email@.service
    content: |
      [Unit]
      Description=Send fail email

      [Service]
      Type=oneshot
      ExecStart=/usr/bin/bash -c '/usr/bin/systemctl status %i | /usr/bin/mailx -Ssendwait -s "[SYSTEMD] Fail %i on $(hostname)" {{ notification_email }}'
      ProtectSystem=full
      ProtectHome=yes
      PrivateTmp=yes
      NoNewPrivileges=yes
      PrivateDevices=yes
      ProtectKernelModules=yes
      ProtectKernelTunables=yes
      ProtectControlGroups=yes
      ReadOnlyPaths=/
      [Install]
      WantedBy=multi-user.target

- name: Install vector for sending logs
  command:
    argv:
      - /usr/bin/arch-chroot
      - /mnt
      - /bin/bash
      - -c
      - |
        pacman -Sy --noconfirm vector

- name: Ensure group "vector" exists
  ansible.builtin.group:
    name: vector
    state: present

- name: Add the user 'vector' a primary group of 'vector'
  ansible.builtin.user:
    name: vector
    group: vector
    home: /var/lib/vector

- name: Create a directory if it does not exist
  ansible.builtin.file:
    path: /mnt/etc/vector
    state: directory
    group: vector
    owner: vector

- name: create vector.toml
  copy:
    owner: vector
    group: vector
    force: yes
    dest: /mnt/etc/vector/vector.toml
    content: |
      sources.journald]
      type = "journald"
      current_boot_only = true
      exclude_units = [ ]
      exclude_matches = { }

      [sinks.azure_security]
      type = "azure_monitor_logs"
      inputs = [ "journald" ]
      azure_resource_id = "TODO"
      customer_id = "TODO"
      host = "ods.opinsights.azure.com"
      log_type = "journald_logs"
      shared_key = "TODO"

- name: Create a directory if it does not exist
  ansible.builtin.file:
    path: /mnt/usr/lib/systemd/system/vector.service.d
    state: directory
    group: root
    owner: root

- name: Create a directory if it does not exist
  ansible.builtin.file:
    path: /mnt/usr/lib/systemd/system/hardened-vector.service.d
    state: directory
    group: root
    owner: root

- name: create http_proxy.conf
  copy:
    owner: root
    group: root
    force: yes
    dest: /mnt/usr/lib/systemd/system/vector.service.d/http_proxy.conf
    content: |
      [Unit]
      OnFailure=notify-email@vector.service

      [Service]
      EnvironmentFile=/etc/systemd/system/proxy.env

- name: harden vector systemd service (common)
  copy:
    owner: root
    group: root
    force: yes
    src: "{{ playbook_dir }}/files/systemd-hardening-common.conf"
    dest: /mnt/usr/lib/systemd/system/vector.service.d/00-hardening-common.conf

- name: harden vector systemd service (service-specific)
  copy:
    owner: root
    group: root
    force: yes
    dest: /mnt/usr/lib/systemd/system/vector.service.d/10-hardening-local.conf
    content: |
      [Service]
      ReadWritePaths=/var/lib/vector

- name: create http_proxy.conf
  copy:
    owner: root
    group: root
    force: yes
    dest: /mnt/usr/lib/systemd/system/hardened-vector.service.d/http_proxy.conf
    content: |
      [Service]
      EnvironmentFile=/etc/systemd/system/proxy.env

- name: Install cockpit and open firewalld port
  ignore_errors: true
  command:
    argv:
      - /usr/bin/arch-chroot
      - /mnt
      - /bin/bash
      - -c
      - |
        pacman -Sy --noconfirm cockpit cockpit-podman pcp cockpit-storaged udisks2 sscg nfs-utils # cockpit-packagekit cockpit-machines
        firewall-offline-cmd --zone=public --add-service=cockpit
        systemctl enable cockpit.socket
        systemctl enable pmlogger.service

- name: set cockpit pam to use oath
  copy:
    owner: root
    group: root
    force: yes
    dest: /mnt/etc/cockpit/cockpit.conf
    content: |
      [WebService]
      MaxStartups = 2
      UrlRoot = /admin/

      [Session]
      IdleTimeout=60

- name: Create cockpit systemd drop-in directory
  ansible.builtin.file:
    path: /mnt/usr/lib/systemd/system/cockpit.service.d
    state: directory

- name: harden cockpit systemd service (common)
  copy:
    owner: root
    group: root
    force: yes
    src: "{{ playbook_dir }}/files/systemd-hardening-common.conf"
    dest: /mnt/usr/lib/systemd/system/cockpit.service.d/00-hardening-common.conf

- name: set cockpit pam to use oath
  copy:
    owner: root
    group: root
    force: yes
    dest: /mnt/etc/pam.d/cockpit
    content: |
      #%PAM-1.0
      auth      include   system-remote-login
      account   include   system-remote-login
      password  include   system-remote-login
      session   include   system-remote-login
      auth	  required pam_oath.so usersfile=/etc/users.oath window=30 digits=6
