[defaults]
inventory       = inventory/hosts.ini
roles_path      = roles
# Avoid locale errors on minimal Arch installs
interpreter_python = auto_silent

[ssh_connection]
pipelining = true

[privilege_escalation]
become      = true
become_method = sudo
