---
- name: set root partition
  set_fact:
    root_partition_number: "2"
    luks_root_name: "arch_root"

- name: Label {{ install_device_name }} as gpt
  when: not root_mounted
  community.general.parted:
      device: "{{ install_device_name }}"
      label: gpt

- name: Create boot partition for uefi with a size of 512MB
  when: not root_mounted
  community.general.parted:
    device: "{{ install_device_name }}"
    number: 1
    state: present
    label: gpt
    name: esp
    flags: esp
    part_end: 512MB
    fs_type: fat32

- name: Format efi boot partition
  when: not boot_mounted
  filesystem: 
    dev: "{{ install_device_name }}1"
    fstype: vfat
    force: yes

- name: Create btrfs partition on uefi
  when: not root_mounted
  community.general.parted:
    device: "{{ install_device_name }}"
    number: 2
    state: present
    name: arch_os
    part_start: 512MB
    label: gpt
    part_end: 100%
    fs_type: btrfs

- name: Set the partition type GUID to Linux root (x86-64) using sgdisk
  command: "sgdisk --typecode=2:4F68BCE3-E8CD-4DB1-96E7-FBCAF984B709 {{ install_device_name }}"

- name: Create LUKS container with a passphrase
  community.crypto.luks_device:
    device: "{{ install_device_name }}{{ root_partition_number }}"
    state: "opened"
    passphrase: "{{ luks_passphrase }}"
    type: "luks2"
    cipher: "aes-xts-plain64"
    keysize: 512
    hash: "sha512"
    pbkdf:
      algorithm: "argon2id"
      memory: 131072
      iteration_time: 5
      parallel: 2
    name: "{{ luks_root_name }}"