---
- name: set loader.conf loader entry
  copy:
    owner: root
    group: root
    force: yes
    dest: /mnt/efi/loader/loader.conf
    content: |
      timeout  5
      console-mode max
      editor   no
